[Unit]
Description=Hyeon Kim's irc bot

[Service]
User=simnalamburt
ExecStart=/home/simnalamburt/services/hyeonbot/run --production

[Install]
WantedBy=multi-user.target
